* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(lightblue, lightgreen, lightsalmon);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}

h1 {
    color: #ffffff;    
    text-shadow: rgb(5, 252, 137) 5px 0 10px;
    font-size: 3rem;
    -webkit-text-stroke: 1px rgba(8, 8, 8, 0.164);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
