* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(lightblue, lightgreen, lightsalmon);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

header {
    margin: 2rem auto 0;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}

h1 {
    color: #f8f40e;    
    text-shadow: rgb(19, 34, 238) 10px 0 10px;
    font-size: 4rem;
    -webkit-text-stroke: 1px rgba(8, 8, 8, 0.164);
    padding-left: 8rem;
    margin: 0;
}

.content .headerImg {
    border-radius: 5rem;
    width:60rem;
    
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
